<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="/static/css/uikit.min.css">
    <link rel="stylesheet" href="/static/css/uikit.gradient.min.css">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/uikit.min.js"></script>
        <script src="/static/js/components/pagination.min.js"></script>


</head>
<body>

    <script>
$(document).ready(function(){
  $("ul").click(function(){
$("#test").on('select.uk.pagination', function(event){
    alert('You have selected page: ' + (1));
    console.log('Extends $form...');
});
});
});
</script>
        <ul id='test' class="uk-pagination" data-uk-pagination="{items:10, itemsOnPage:1}">
        </ul>
</body>
</html>